.btn{
    color: $colour-white;
    font-size: 16px;
    font-weight: 500;
    background: $colour-button;
    height: 50px;
    border-radius: 25px;
    border:0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    }
}

.cta__btn{
    padding-left: 22px;
    padding-right: 22px;
}

.menu__order-button{
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 44px;
    padding-right: 44px;
}