body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 48px 80px 26px 20px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63px;
}
.heading__logo {
  height: 44px;
  width: 42%;
  margin-top: 14px;
}

body {
  margin: 0px;
}

.location {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: #EAEAEA;
  align-items: center;
  gap: 17px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
  height: 287.5px;
  width: 100%;
  text-align: center;
}
.cta__title {
  margin-top: 39.5px;
  margin-bottom: 0px;
  height: 68px;
  width: 73%;
  font-size: 24px;
  font-weight: 700;
}
.cta__promise {
  font-size: 18px;
  font-weight: 300;
  height: 46px;
  width: 84%;
  margin: 0px;
}
.cta__btn {
  margin-top: 27px;
}

.functioning {
  height: 392px;
  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.instructions p {
  text-align: center;
  color: #FFFFFF;
  background: #9356DC;
  position: relative;
  right: 12px;
  height: 20px;
  width: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  margin: 0px;
  padding-top: 4px;
}
.instructions i {
  margin-left: 10px;
}
.instructions h3 {
  margin-left: 27px;
}
.instructions__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 86%;
  height: 72.38px;
  border: none;
  border-radius: 20px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 32px;
  margin-right: 20px;
}

.restaurants {
  height: 1226px;
  width: 100%;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 20px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  height: 251px;
  width: 90.7%;
  border-radius: 15px;
  background: #FFFFFF;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants img {
  height: 174px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants p {
  font-size: 17px;
  font-weight: 300;
  margin: 0px 0px 0px 13px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  height: 77px;
}
.card-content h4 {
  margin: 16px 0px 5px 13px;
}
.card-content i {
  margin-top: 23px;
  margin-right: 25px;
  color: #9356DC;
}

.btn {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  width: 58.1%;
  border-radius: 25px;
  border: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

footer {
  height: 186px;
  width: 100%;
  background: #353535;
  color: #FFFFFF;
}
footer p {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
footer h5 {
  margin: 22px 0px 16px 0px;
}

.footer__element {
  display: flex;
  align-items: center;
  gap: 11px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 25px;
}/*# sourceMappingURL=main.css.map */