$colour-background-primary: #F7F7F7;
$colour-background-location: #EAEAEA;
$colour-badge-new-and-choice: #99E2D0;
$colour-font-badge-new: #008766;
$colour-icon:#9356DC;
$colour-button:linear-gradient( #FF79DA,#9356DC);
$colour-white: #FFFFFF;
$colour-grey:#353535;
$colour-black:#101010;
$colour-filter-grey: invert(16%) sepia(11%) saturate(7%) hue-rotate(314deg) brightness(100%) contrast(87%);