.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $colour-background-primary;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    animation: loading 2s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    
    & img{
        height: 44px;
        width: 42%;
        opacity: 0.8;
    }
    &__dots{
        display: flex;
        gap: 20px;
        
        & .dot-1{
            animation: bounce 1s ease-in-out infinite ;
        }
        & .dot-2{
            animation: bounce 1s ease-in-out 0.33s infinite;
        }
        & .dot-3{
            animation: bounce 1s ease-in-out 0.66s infinite;
        }
    }
    &__dot{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:  $colour-badge-new-and-choice; 
    }
}

@keyframes bounce{
    0% {
        transform : translateY(0px);
    }
    25%{
        transform: translateY(18px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes loading{
    from{
        z-index: 10;
    }
    to{
        z-index: -10;
    }
}

.location{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: $colour-background-location;
    align-items: center;
    gap: 17px;
    & h3{
        color: $colour-grey;
    }
    &__icon{
        width: 12px;
        height: 16px;
        filter: $colour-filter-grey
    }
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $colour-background-primary;
    height: 287.5px;
    width: 100%;
    text-align: center;
    &__title{
        margin-top: 39.5px;
        margin-bottom:0px;
        height: 68px;
        width: 73%;
        font-size: 24px;
        font-weight: 700;
    }
    &__promise{
        color: $colour-grey;
        font-size: 18px;
        font-weight: 300;
        height: 46px;
        width: 84%;
        margin: 0px;
    }
    &__btn{
        margin-top: 27px;
    }
    
}

.functioning{
    background: $colour-white;
    height: 440px;
    width: 100%;
    @media (min-width: 767.98px) {
        height: 228px;
    }
    & h2{
        @media (min-width: 767.98px) {
            margin-left: 12.5%;  
            margin-bottom: 25px;
            padding-top: 50px;
        }
        @media (min-width: 1440px) {
            text-align: center;
            position: relative;
            right: 422px;
            margin-left: 0px;
        }
    }
}

.instructions{
    @include instructions;
    &__card{
        @include instructions-card;
    }
    &__mobile-icon{
        height: 19.9px;
        width: 13.02px;
        filter: invert(50%) sepia(7%) saturate(0%) hue-rotate(274deg) brightness(96%) contrast(91%);
    }
    &__list-icon{
        height: 15.92px;
        width: 16px;
        filter: invert(50%) sepia(7%) saturate(0%) hue-rotate(274deg) brightness(96%) contrast(91%);
    }
    &__store-icon{
        height: 17.91px;
        width: 18px;
        filter: invert(44%) sepia(14%) saturate(4384%) hue-rotate(234deg) brightness(89%) contrast(93%);
    }
}

.restaurants{
    height: 1226px;
    background: $colour-background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    @media (min-width: 767.98px) {
        height: 718px;
        gap: 50px;
    }
    &__title{
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 14px;
        @media (min-width: 767.98px) {
            margin-left: 12.5%;
            margin-top: 30px;
            margin-bottom: -24px;
        }
        @media (min-width: 1440px) {
            text-align: center;
            position: relative;
            left: -445px;
            margin-left: 0px;
            align-self: auto;
        }
        
    }
    &__first-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        @media (min-width: 767.98px) {
            flex-direction: row; 
            justify-content: center;
            gap: 100px;       
        }
    }
    &__second-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        @media (min-width: 767.98px) {
            flex-direction: row;
            justify-content: center;
            gap: 100px;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        height: 251px;
        width: 90.7%;
        border-radius: 15px;
        background: $colour-white;
        position: relative;
        @media (min-width: 767.98px) {
            width: 34%;
            max-width: 490px;
            height: 251px;          
        }
    }
    &__badge-new{
        height: 29px;
        width: 80px;
        margin :0px;
        border-radius: 2px;
        background: $colour-badge-new-and-choice;
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom: 209px;
        left: 73%;
    }
    & a{
        text-decoration: none;
        color:black;
        
    }
    & img{
        height: 174px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.card-content{
    display: flex;
    justify-content: space-between;
    height: 77px;
    & h4{
        margin: 16px 0px 5px 13px;
    }
    
    &__location{
        font-size: 17px;
        font-weight: 300;
        margin: 0px 0px 0px 13px;
    }
                     
    & .fa-heart{
        font-size: 26px;
        color: $colour-black;
        margin-top: 15px;
        margin-right: 25px;    

    }
    
    &__heart-icons{
        position: relative;
        & .fa-solid{
            color: transparent;
            -webkit-background-clip: text;
            background-image: $colour-button;
            opacity: 0.5;
            transition: all 300ms;
            opacity: 0;
            z-index: 1;
            position: absolute;
            left:0; top:0;
            &:hover{
                opacity: 1;
            }
        }
    }
}