.location{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: $colour-background-location;
    align-items: center;
    gap: 17px;
    & h3{
        color: $colour-grey;
    }
    &__icon{
        width: 12px;
        height: 16px;
        filter: $colour-filter-grey
    }
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $colour-background-primary;
    height: 287.5px;
    width: 100%;
    text-align: center;
    &__title{
        margin-top: 39.5px;
        margin-bottom:0px;
        height: 68px;
        width: 73%;
        font-size: 24px;
        font-weight: 700;
    }
    &__promise{
        color: $colour-grey;
        font-size: 18px;
        font-weight: 300;
        height: 46px;
        width: 84%;
        margin: 0px;
    }
    &__btn{
        margin-top: 27px;
    }
    
}

.functioning{
    height: 392px;
    width: 100%;
    @media (min-width: 767.98px) {
        height: 180px;
    }
}

.instructions{
    @include instructions;
    &__card{
        @include instructions-card;
    }
    &__mobile-icon{
        height: 19.9px;
        width: 13.02px;
        filter: invert(50%) sepia(7%) saturate(0%) hue-rotate(274deg) brightness(96%) contrast(91%);
    }
    &__list-icon{
        height: 15.92px;
        width: 16px;
        filter: invert(50%) sepia(7%) saturate(0%) hue-rotate(274deg) brightness(96%) contrast(91%);
    }
    &__store-icon{
        height: 17.91px;
        width: 18px;
        filter: invert(44%) sepia(14%) saturate(4384%) hue-rotate(234deg) brightness(89%) contrast(93%);
    }
}

.restaurants{
    height: 1226px;
    background: $colour-background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 767.98px) {
        height: 668px;
        gap: 50px;
    }
    &__title{
        align-self: flex-start;
        margin-left: 20px;
        @media (min-width: 767.98px) {
            margin-left: 12.5%;
            margin-top: 30px;
            margin-bottom: -24px;
        }
    }
    &__first-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        @media (min-width: 767.98px) {
            flex-direction: row; 
            justify-content: center;
            gap: 100px;       
        }
    }
    &__second-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        @media (min-width: 767.98px) {
            flex-direction: row;
            justify-content: center;
            gap: 100px;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        height: 251px;
        width: 90.7%;
        border-radius: 15px;
        background: $colour-white;
        position: relative;
        @media (min-width: 767.98px) {
            width: 34%;
            height: 251px;          
        }
    }
    &__badge-new{
        height: 29px;
        width: 80px;
        margin :0px;
        border-radius: 2px;
        background: $colour-badge-new-and-choice;
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom: 209px;
        left: 73%;
    }
    & a{
        text-decoration: none;
        color:black;
        
    }
    & img{
        height: 174px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.card-content{
    display: flex;
    justify-content: space-between;
    height: 77px;
    & h4{
        margin: 16px 0px 5px 13px;
    }
    
    &__location{
        font-size: 17px;
        font-weight: 300;
        margin: 0px 0px 0px 13px;
    }
    & img{
        width: 27px;
        height: 30px;
        filter: invert(0%) sepia(9%) saturate(498%) hue-rotate(341deg) brightness(90%) contrast(87%);
        margin-top: 14px;
        margin-right: 25px;
        object-fit: fill;
        border-radius: 0px;
    }
}