.container{
    background: $colour-white; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-div{
    width: 100%;
    height: 237px;
    &__picture{
        width: 100%;
        height: 275px;
        object-fit: cover;
        }
}

.menu{
    width: 100%;
    border-top-left-radius: 38px;
    border-top-right-radius:38px;
    background: $colour-background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 767.98px) {
        width: 73%;
    }
    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;        
        margin-bottom: 2px;
    }
    &__heading-restaurant-title{
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 400;
        color: $colour-black;
        margin: 0px;
        margin-top: 32px;
    }
    &__heading-heart-icons{
        width: 22px;
        height: 21px;
        margin-top: 32px;
        position: relative;
        bottom: 5px;
        & .fa-heart{
            font-size: 26px;
            color: $colour-black;
        }
        & .fa-solid{
            color: transparent;
            -webkit-background-clip: text;
            background-image: $colour-button;
            opacity: 0.5;
            transition: all 300ms;
            opacity: 0;
            z-index: 1;
            position: absolute;
            left:0; top:0;
            &:hover{
                opacity: 1;
            }
        }
    }
    &__heading-starter{
        align-self: flex-start;
    }
    & h2{
        margin: 40px 0px 9px 0px;
        font-weight: 300;
        font-size: 16px;
        position: relative;
        left: 10px;
        @media (min-width: 767.98px) {
            left: 36px;            
        }   
    }
    &__h2-underline{
        background-color: $colour-badge-new-and-choice;
        width: 40px;
        height: 5px;
        margin-bottom: 12px;
        position: relative;
        left: 11px;
        @media (min-width: 767.98px) {
            left: 36px;            
        }  
    }
    &__starter{
        @include dish;     
    }
    &__starter-card{
        @include dish-card;
    }
    &__starter-card-content{
        @include dish-card-content;
    }
    
    &__main{
        @include dish;     
    }
    &__main-card{
        @include dish-card;
    }
    &__main-card-content{
        @include dish-card-content;
    }
    &__dessert{
        @include dish;     
    }
    &__dessert-card{
        @include dish-card;
    }
    &__dessert-card-content{
        @include dish-card-content;
    }
}

// Animations //

.menu{
    &__starter-block{
        width: 90%;
        max-width: 741px;
        opacity: 0;
        animation: apparition 1s ease-in-out forwards;
    }
    &__main-block{
        width: 90%;
        max-width: 741px;
        opacity: 0;
        animation: apparition 1s ease-in-out 0.33s forwards;
    }
    &__dessert-block{
        width: 90%;
        max-width: 741px;
        opacity: 0;
        animation: apparition 1s ease-in-out 0.66s forwards;
    }
}

@keyframes apparition{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu__check-icon{
    width: 59px;
    height: 70px;
    background: $colour-badge-new-and-choice;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    bottom: 14px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    & .fa-check{
        font-size: 14px;
        color: $colour-badge-new-and-choice;
        background: $colour-white;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        padding: 3px;
    }
}

@keyframes check-apparition{
    from{
        visibility: hidden;
        transform: translateX(40px);
    }
    to{
        visibility: visible;
        transform: translateX(0px);
    }
}

@keyframes price-translation{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-50px);
    }
}